.form-box {
  position: relative;
  display: flex;
  width: 450px;
  height: 510px;
  margin: 120px 0;
  flex-direction: column;
  background-color: var(--cor-s1);
  border-radius: 8px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.20), 0 10px 10px 0 rgba(0, 0, 0, 0.10);
}

.form-box .titulo {
  padding: 40px 0;
  margin: 0 auto;
  font-family: 'Amatic SC', serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.125;
  color: var(--cor-s6);
}

.form-box .mensagem {
  padding: 0 40px;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.33;
  color: var(--cor-s5);
}

.form-box::after {
  content: '';
  width: 48px;
  height: 5px;
  border-radius: 5px;
  background-color: var(--cor-e3);
  position: absolute;
  top: 195px;
  left: 40px;
}

.form-box form {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 40px;
  margin-top: 40px;
}

.form-box label {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25;
  color: var(--cor-s6);
  margin-bottom: 4px;
}

.form-box input {
  width: 370px;
  height: 48px;
  outline: none;
  padding-left: 16px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid var(--cor-s3);
  font-size: 1rem;
  line-height: 1.125;
}

.form-box button {
  display: inline-block;
  align-self: center;
  text-align: center;
  border: none;
  width: 200px;
  height: 40px;
  margin-top: 24px;
  margin-bottom: 40px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.20), 0 4px 5px rgba(0, 0, 0, 0.10);
  background-image: linear-gradient(var(--cor-e1), var(--cor-e4));
  color: var(--cor-s0);
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.form-box button:hover {
  background-image: linear-gradient(var(--cor-e2), var(--cor-e5));
}