.intro-bg {
  max-width: 100%;
  background-image: linear-gradient(to right, var(--cor-b2), var(--cor-b2) 50%, var(--cor-b5), var(--cor-b5) 50%);
}

.intro-conteudo {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 40px;
  max-width: 1200px;
  height: 762px;
  background-image: url("/assets/img/bg-intro-90.jpg");
  background-size: cover;
  background-position: top left;
}

.intro-conteudo h1{
  max-width: 840px;
  margin-top: 160px;
  font-family: "Amatic SC", serif;
  font-size: 5rem;
  font-weight: bold;
  line-height: 1.125;
  color: var(--cor-s0);
}