.intro-bg {
  max-width: 100%;
  background-image: linear-gradient(to right, var(--cor-b2), var(--cor-b2) 50%, var(--cor-b5), var(--cor-b5) 50%);
}

.intro-conteudo {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  justify-content: space-between;
  gap: 40px;
  background-image: url("/assets/img/bg-intro.jpg");
  background-size: cover;
  background-position: top left;
}

.intro-conteudo h1{
  margin: 160px 0;
  font-family: 'Amatic SC', serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.125;
  color: var(--cor-s0);
}

.intro-conteudo h1 span {
  color: var(--cor-e3);
}