.footer-bg {
  background-color: var(--cor-b6);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  padding: 60px 20px 0;
  justify-items: center;
}

.footer > img {
  margin-top: 3px;
}

.footer h3 {
  position: relative;
  margin-bottom: 32px;
  font-family: 'Amatic SC', serif;
  font-size: 2.5rem;
}

.footer h3::after {
  content: '';
  display: block;
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--cor-e3);
  position: absolute;
  top: 50px;
  left: 0px;
}

.footer-contato ul {
  margin-bottom: 32px;
}

.footer-contato li:nth-child(even):after {
  content: "";
  display: block;
  max-width: 360px;
  height: 1px;
  background: var(--cor-b4);
  margin-top: 16px;
}

.footer li {
  margin-bottom: 16px;
}

.footer-redes {
  display: flex;
  gap: 32px;
}

.footer a:hover {
  color: var(--cor-e2);
}

.footer-copy {
  grid-column: 1 / -1;
  margin-top: 40px;
  margin-bottom: 8px;
  text-align: center;
}

/* Responsividade */

@media (max-width: 800px) {
  .footer > img {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;
    gap: 60px;
    padding: 60px 40px 0;
    justify-items: start;
  }

  .footer h3 {
    font-size: 2rem;
  }

  .footer h3::after {
    top: 43px;
    left: 0px;
  }

  .footer-copy {
    justify-self: center;
    margin-top: 0px;
  }
}