:root {
  /* cores-de-suporte */
  --cor-s0: #ffffff;
  --cor-s1: #f0f3f7;
  --cor-s2: #e1e6ed;
  --cor-s3: #c3cdd9;
  --cor-s4: #434c59;
  --cor-s5: #2e3743;
  --cor-s6: #171e26;
  --cor-s7: #000000;

  /* cores-de-enfase */
  --cor-e1: #fc8358;
  --cor-e2: #f87345;
  --cor-e3: #f16534;
  --cor-e4: #e84e18;
  --cor-e5: #da4511;

  /* cores-de-base */
  --cor-b1: #469eeb;
  --cor-b2: #2f89d8;
  --cor-b3: #1b71bd;
  --cor-b4: #015aaa;
  --cor-b5: #0146a6;
}

/* cores-de-suporte */
.cor-s0 {
  color: var(--cor-s0);
}
.cor-s1 {
  color: var(--cor-s1);
}
.cor-s2 {
  color: var(--cor-s2);
}
.cor-s3 {
  color: var(--cor-s3);
}
.cor-s4 {
  color: var(--cor-s4);
}
.cor-s5 {
  color: var(--cor-s5);
}
.cor-s6 {
  color: var(--cor-s6);
}
.cor-s7 {
  color: var(--cor-s7);
}

/* cores-de-enfase */
.cor-e1 {
  color: var(--cor-e1);
}
.cor-e2 {
  color: var(--cor-e2);
}
.cor-e3 {
  color: var(--cor-e3);
}
.cor-e4 {
  color: var(--cor-e4);
}
.cor-e5 {
  color: var(--cor-e5);
}

/* cores-de-base */
.cor-b1 {
  color: var(--cor-b1);
}
.cor-b2 {
  color: var(--cor-b2);
}
.cor-b3 {
  color: var(--cor-b3);
}
.cor-b4 {
  color: var(--cor-b4);
}
.cor-b5 {
  color: var(--cor-b5);
}